@import '../../../../styles/variables.scss';

.field {
  position: relative;
  transition: all 0.3s;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid $black;
  box-shadow: 5px 5px $black;
  cursor: pointer;
  &-miss::before {
    content: ''; /* добавляемый пустой контент для псевдоэлемента */
    position: absolute; /* абсолютное позиционирование относительно .field */
    top: 50%; /* размещаем относительно верхнего края родителя */
    left: 50%; /* размещаем относительно левого края родителя */
    transform: translate(
      -50%,
      -50%
    ); /* центрируем по вертикали и горизонтали */
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%; /* делаем квадратный элемент круглым */
  }
  &-hit {
    position: relative;
    background-color: $light-green;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background-color: $black;
      transform-origin: center;
    }

    &::before {
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.field:hover {
  box-shadow: none;
}

.field:active {
  box-shadow: inset 2px 2px 0 2px rgba(0, 0, 0, 0.25);
}
